<!DOCTYPE html>
<html>
<head>
    <title>Employee Benefits Cost</title>

    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="/css/main.css"></link>
 
</head>

<body ng-app="EmployeeBenefitsApp" ng-controller="EmployeeListCtrl">

	<header>
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<h2>Employee Benefits Cost</h2>
			</div>
    	</div>
	</header>

    <div class="container-fluid">
    	<div class="page-header">
    		<div class="row">
    			<div class="col-md-6 col-md-offset-1">
					<a href="javascript:void(0);" class="btn btn-primary" ng-disabled="appSettings.editing" ng-click="!appSettings.editing && addEmployee()"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;ADD EMPLOYEE</a>
				</div>
				
				<div class="form-inline col-md-3 col-md-offset-2">
					<label>Display Type:</label>
					<select ng-model="appSettings.displayType" class="form-control" ng-options="key as val + ' Cost' for (key, val) in appSettings.displayTypes"></select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			    <div employee-item="employee" employee-parent="employeeCollection" app-settings="appSettings" ng-repeat="employee in employeeCollection"></div>
		    </div>
		</div>
	</div>

	<script type="text/javascript" src="/scripts/employee-benefits-app.js"></script>
     
</body>
</html>