<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Dependants</h3>
        <a href="javascript:void(0);" class="btn btn-primary btn-xs pull-right" ng-disabled="$ctrl.appSettings.editing" ng-click="!$ctrl.appSettings.editing && $ctrl.addDependant()"><i class="fa fa-users"></i>&nbsp;&nbsp;ADD DEPENDANT</a>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">Dependant</div>
            <div class="col-md-3">Relationship</div>
            <div class="col-md-4">Cost for Benefits</div>
        </div>
        <div class="row">
            <dependant-item-component
                ng-repeat="dependant in $ctrl.dependants"
                app-settings="$ctrl.appSettings"
                dependant="dependant"
                on-delete="$ctrl.removeDependant(dependant)">
            </dependant-item-component>
        </div>
    </div>
</div>